body {
    background-color: rgb(255, 255, 255);
}

.jum {
    margin-top: 50px;
    margin-bottom: 0;
    background-image: url("../img/bg-macbook.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.display-3 {
    font-weight: bold;
    font-size: 50px;
}



header .display-3 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

header .lead {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

header .more {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

header .basic-information {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
